.first-header {
    font-family: 'Avenir';
    font-size: 45px;
    justify-content: center;
}

.second-header {
    font-family: 'Avenir';
    font-size: 60px;
    justify-content: center;
}

.page-wrap {
    text-align: center;
}

/* .flickity-slider {
    width: 30%;
} */

.gold-o {
    font-family: 'Avenir';
    font-size: 60px;
    justify-content: center;
    color: #E8C057; 
}

.two-center-buttons {
    padding-bottom: 5rem;
}

.carousel-wrap {
    justify-content: center;
}

.carousel {
    max-width: 1200px;
    display: inline-block;
}

.flickity-viewport {
    padding-top: 1rem;
    min-width: 1200px;
}

.flickity-page-dots {
    padding-top: 5rem;
    position: relative;
}
  
.carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
}

.carousel-image {
    height: 200px;
    min-width: 100%;
    top: 50%;
    padding: 2rem;
}
