footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer .footer-bar {
    list-style-type:none;
    margin: 0;
    padding-top: 8rem; 
    display: flex; 
}

footer .footer-bar li a {
    padding: .25rem 3rem;
    text-decoration: none; 
    color: white;

}

footer .footer-bar li:first-child a {
    padding-left: 3rem;
}

footer .footer-bar li:last-child a {
    padding-left: 20rem;
}

.footer-image {
    width: 100%; 
    min-height: 20rem;
}

footer .container {
    width: 100%; 
    min-height: 20rem;
    background-image: url('../../images/footer-background.png');  
}